streamlit==1.49.1
numpy==2.4.6
pandas==2.3.3
tensorflow==2.19.0
librosa==0.11.0
soundfile==0.13.1
sounddevice==0.5.1
soxr==0.5.0.post1
audioread==3.0.1
scikit-learn==1.8.0
joblib==1.5.3
scipy==1.15.2
plotly==6.7.0
matplotlib==3.10.1
seaborn==0.13.2
pillow==11.2.1
colorama==0.4.6
